html {
	background: #33523d;
	background-image:  url('https://webgradients.com/public/webgradients_png/054%20Grown%20Early.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	width: 90%;
	float: left;
  	min-width: 550px;
	margin: 0 auto;
	background: #DDD;
	border: 2px solid #000;
	padding: 3px;

}
ul {
	padding: 10px;
	margin: 2px;	
}
header {
	height: 80px;
	margin-bottom: 2px;
	background-image:  url('https://webgradients.com/public/webgradients_png/020%20New%20Life.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
	text-align: Left;
	padding: 1px 20px;
	color: #FFF;
	
}
nav {
	height: 1.5em;
	margin: 0;
	background: #1A522E;
	padding: 0;
	text-align: left;
}
/* li {
	display: inline-block;
	color: #600;
	list-style-type: none;
	margin: 0;
	padding: 0;
} */
a:link {
	color: #55f;				
	text-decoration: none;	
	padding: 5px 10px;
}
a:visited {
	color: #55F;
}

li{
	list-style: none;
}
aside {
	float: left;
	width: 25%;
	background: #BBB;
	margin-left: 2%;
	margin-right: 20px;
	margin-top: 2em;
	padding: 0 2% 2% 2%;
	color: #55f;
	font-size: .8em;
	font-style: italic;
}
main {
	float: left;
	width: 60%;	
	margin: 0;
	padding-left: 10px;
}
footer {
	background-image:  url('https://webgradients.com/public/webgradients_png/020%20New%20Life.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
	clear: both;
	height: 3em;
	margin-top: 0;
	font-size: .7em;
	color: #FFF;	
	padding-left: 15px;
	padding-top: 2px;
}
.collapsible {
	background-color: #BBB;
	color: #55f;
	cursor: pointer;
	padding: 0px;
	width: 50%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	text-decoration: none;
  }
  .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #BBB;}
  .collapsible:after {
	content: '\25B8'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: black;
	float: left;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\25BE"; /* Unicode character for "minus" sign (-) */
  }
  #container {
    display: flex;
	flex-direction: row;
	border: 1px solid #000;
    background-color: #ccc;
}
.box{
	width: 200px;
    border: 1px solid #000;
    background-color: #ccc;
    flex: 1;
}
#box1 {
    display: flex;
    flex-direction: column;
}
#box2 {
    display: flex;
    flex-direction: column;
}